:root {
	--toast-spacing: 10px;
	--toast-color-info: 0, 145, 255;
	--toast-color-success: 48, 209, 88;
	--toast-color-error: 214, 50, 50;
	--toast-color-warning: 255, 159, 10;
	--toast-bg-opacity: 0.3;
}

.easy-willpower__toast-wrapper {
	width: 100%;
	max-width: 350px;
	position: fixed;
	top: var(--toast-spacing);
	right: var(--toast-spacing);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.toast {
	--color-variant: 55, 55, 55;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	padding: 20px 16px;
	border-radius: 8px;
	max-width: 350px;
	background-color: rgba(var(--color-variant), var(--toast-bg-opacity));
	backdrop-filter: blur(10px) brightness(50%);
	outline: 1px solid rgba(var(--color-variant), 0.5);
	color: white;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	overflow: hidden;

	@media (prefers-color-scheme: light) {
		backdrop-filter: blur(10px) brightness(40%);
	}
}

.toast.toast--info {
	--color-variant: var(--toast-color-info);
}

.toast.toast--success {
	--color-variant: var(--toast-color-success);
}

.toast.toast--warn {
	--color-variant: var(--toast-color-warning);
}

.toast.toast--error {
	--color-variant: var(--toast-color-error);
}

.toast .progress {
	height: 3px;
	background-color: rgba(var(--color-variant), 1);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 1s linear;
}

.toast .icon {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toast .icon svg {
	stroke: rgb(var(--color-variant));
}

.toast.show {
	animation: slideIn 0.5s cubic-bezier(0, 1.5, 0.5, 1) forwards;
}

.toast.hide {
	animation: slideOut 0.15s linear forwards;
}

@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--toast-spacing)));
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(calc(100% + var(--toast-spacing)));
	}
}
